@use '/var/www/html/workbench/sadrazam/src/scss/variables-global';
@forward '/var/www/html/workbench/sadrazam/src/scss/variables-global';

/* COLORS */
/** Theme Colors **/
$color-theme-light: rgba(84, 180, 203, 1);
$color-theme-base: rgba(10, 150, 183, 1);
$color-theme-dark: rgba(2, 91, 112, 1);

$color-theme-second-light: rgba(252, 238, 191, 1);
$color-theme-second-base: rgba(254, 163, 96, 1);
$color-theme-second-dark: rgba(241, 101, 29, 1);
/** End of Theme Colors **/

/** Other Variables **/
$toolbar-active-button-lt: rgba(47, 96, 229, 1);
$toolbar-active-button-dt: rgba(125, 155, 238, 1);
$toolbar-height: 52px;
/** End of other variabels **/

// Theme Colors
:root {
	--color-theme-light: #{$color-theme-light};
	--color-theme-base: #{$color-theme-base};
	--color-theme-dark: #{$color-theme-dark};

	body.dark-mode {
		--color-theme-light: #{$color-theme-dark};
		--color-theme-base: #{$color-theme-base};
		--color-theme-dark: #{$color-theme-light};
	}

	--color-theme-second-light: #{$color-theme-second-light};
	--color-theme-second-base: #{$color-theme-second-base};
	--color-theme-second-dark: #{$color-theme-second-dark};

	body.dark-mode {
		--color-theme-second-light: #{$color-theme-second-dark};
		--color-theme-second-base: #{$color-theme-second-base};
		--color-theme-second-dark: #{$color-theme-second-light};
	}

	--toolbar-active-button: #{$toolbar-active-button-lt};

	body.dark-mode {
		--toolbar-active-button: #{$toolbar-active-button-dt};
	}
}